@import url('../../../css/global.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f5f7;
  letter-spacing: 1px;
  font-family: sans-serif;

}
body{
  display: flex;
  background-image: url(../../../img/home/fundos.jpeg);
  background-repeat: no-repeat;
  background-size: 200%;
}
main{
  top: 50%;
  margin-top: 150px;
}
h1 {
  margin-left: 90px;
  margin-top: 30px;
  color: #f2f5f7;
  font-style: italic;
  font-weight: bold;
}
h3{
  margin-left: 90px;
  color: #f2f5f7;
  font-style: italic;
  font-weight: bold;
}
.container {
  width: 100%;
  height: 100%;
  border: 1px grey;
}

.list-item:nth-child(1) {
  background-image: url(../../../img/galerias/ElzaSoares.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.list-item:nth-child(2) {
  background-image: url(../../../img/galerias/Iza.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list-item:nth-child(3) {
  background-image: url(../../../img/galerias/DonaIvoneLara.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list-item:nth-child(4) {
  background-image: url(../../../img/galerias/Liniker.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.list-item:nth-child(5) {
  background-image: url(../../../img/galerias/Ludmilla.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.list-item:nth-child(6) {
  background-image: url(../../../img/galerias/SandradeSa.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list-item:nth-child(7) {
  background-image: url(../../../img/galerias/alcione.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list-item:nth-child(8) {
  background-image: url(../../../img/galerias/Elizeth.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1780px) {
  .list {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    color: red;
    list-style: none;
  }
  

  .list-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2;
  top: 2;
  margin: auto;
  padding: 10;
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 1%;
}
.container{
  margin-left: 450px;
}
}

@media screen and (max-width: 800px) and (min-width: 300px){
  body{
    background-size: 700%;
  }
  .list {
    position: relative;
    width: 5%;
    height: 100px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    color: red;
    list-style: none;
  }
  

  .list-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    top: 20px;
    margin: 2;
    padding: 10;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 1%;
  }
  
  .container{
    margin-left: 200px;
  }
  h1, h3{
    font-size: 20px;
    margin-left: 30px;
  }
}
